In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
import statistics as st
import seaborn as sns
%matplotlib inline

In [2]:
'''f=open("Iris.csv")
data= csv.reader(f, delimiter=",")
for row in data:
	print(row)'''

'f=open("Iris.csv")\ndata= csv.reader(f, delimiter=",")\nfor row in data:\n\tprint(row)'

In [3]:
data=pd.read_csv('Iris.csv')

In [4]:
data.shape

(150, 6)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [6]:
data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [8]:
data.sample(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
137,138,6.4,3.1,5.5,1.8,Iris-virginica
66,67,5.6,3.0,4.5,1.5,Iris-versicolor
119,120,6.0,2.2,5.0,1.5,Iris-virginica
72,73,6.3,2.5,4.9,1.5,Iris-versicolor
40,41,5.0,3.5,1.3,0.3,Iris-setosa
25,26,5.0,3.0,1.6,0.2,Iris-setosa
61,62,5.9,3.0,4.2,1.5,Iris-versicolor
89,90,5.5,2.5,4.0,1.3,Iris-versicolor
46,47,5.1,3.8,1.6,0.2,Iris-setosa
29,30,4.7,3.2,1.6,0.2,Iris-setosa

In [9]:
data.dtypes

Id                 int64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [10]:
data.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

In [11]:
data=data.drop(columns='Id',axis=1)

In [12]:
data.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

For Sepal length

In [13]:
col1=data['SepalLengthCm']
col1.head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: SepalLengthCm, dtype: float64

In [14]:
col1_mean=np.mean(col1)
col1_mean

5.843333333333335

In [15]:
col1_median=np.median(col1)
col1_median

5.8

In [16]:
col1_mode=st.mode(col1)
col1_mode

5.0

In [17]:
col1_var=np.var(col1)
col1_var

0.6811222222222222

In [18]:
col1_std=np.std(col1)
col1_std

0.8253012917851409

For Sepal width

In [19]:
col2=data['SepalWidthCm']
col2.head()

0    3.5
1    3.0
2    3.2
3    3.1
4    3.6
Name: SepalWidthCm, dtype: float64

In [20]:
col2_mean=np.mean(col2)
col2_mean

3.0540000000000007

In [21]:
col2_median=np.median(col2)
col2_median

3.0

In [22]:
col2_mode=st.mode(col2)
col2_mode

3.0

In [23]:
col2_var = np.var(col2)
col2_var

0.1867506666666667

In [24]:
col2_std = np.std(col2)
col2_std

0.4321465800705435