In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
from warnings import filterwarnings
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_selection import RFE

In [2]:
df = pd.read_csv("PLAY TENNIS.csv")

In [3]:
df.head()

    Outlook Temperature Humidity   Wind Play Tennis
0     Rainy         Hot     High  False          No
1     Rainy         Hot     High   True          No
2  Overcast         Hot     High  False         Yes
3     Sunny        Mild     High  False         Yes
4     Sunny        Cool   Normal  False         Yes

In [4]:
df.sample(10)

     Outlook Temperature Humidity   Wind Play Tennis
9      Sunny        Mild   Normal  False         Yes
1      Rainy         Hot     High   True          No
6   Overcast        Cool   Normal   True         Yes
12  Overcast         Hot   Normal  False         Yes
2   Overcast         Hot     High  False         Yes
8      Rainy        Cool   Normal  False         Yes
11  Overcast        Mild     High   True         Yes
4      Sunny        Cool   Normal  False         Yes
0      Rainy         Hot     High  False          No
7      Rainy        Mild     High  False          No

In [5]:
df.dtypes

Outlook        object
Temperature    object
Humidity       object
Wind             bool
Play Tennis    object
dtype: object

In [6]:
df.shape

(14, 5)

In [7]:
df.isnull().sum()

Outlook        0
Temperature    0
Humidity       0
Wind           0
Play Tennis    0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Outlook      14 non-null     object
 1   Temperature  14 non-null     object
 2   Humidity     14 non-null     object
 3   Wind         14 non-null     bool
 4   Play Tennis  14 non-null     object
dtypes: bool(1), object(4)
memory usage: 590.0+ bytes

In [10]:
df.describe()

       Outlook Temperature Humidity   Wind Play Tennis
count       14          14       14     14          14
unique       3           3        2      2           2
top      Rainy        Mild     High  False         Yes
freq         5           6        7      8           9